body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-around;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.collapse-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

.main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer a {
    margin: 0 10px;
}

footer img {
    width: 24px;
    height: 24px;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .collapse-btn {
        display: inline-block;
    }

    header nav ul {
        flex-direction: column;
        display: none;
    }

    header nav ul.show {
        display: flex;
    }
}
